.demohandcontainer {
  height: 100vh;
  width: 100%;
  background: black;
  position: absolute;
}
.demohandcontainer a {
  border: 2px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%);
  animation: onload ease 2s 1, glow 2s linear 1s 2;
}
.demohandpointer {
  border-radius: 5px;
  height: 100px;
  width: 100px;
}
/* div {
  animation-name: onload;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-delay:0s;
  animation-iteration-count: 1;
  -----this is shorthand -------
} */
@keyframes onload {
  0% {
    left: 95%;
  }
  100% {
    left: 50%;
  }
}
@keyframes glow {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
