 <!-- base.html -->

{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{% block title %}Virtual Event Platform by Comet-Live{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="https://kit.fontawesome.com/53961e89cd.js" crossorigin="anonymous"></script>
  {% block css %}
  {% endblock %}
</head>

<body>
  {% block topnav %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block scripts %}
  {% endblock %}


  <!-- <div class="navbar navbarBg fixed-bottom navbar-expand-sm navbar-dark text-center position-fixed text-success">
    <div class="d-md-flex d-block flex-row mx-md-auto mx-0">
      <span class="d-inline-block px-3 te"><a class="text-white" href="/home"><i class="fa fa-home"></i><span
            class="d-block fs_11 mt-1">Lobby</span></a></span>
      <span class="d-inline-block px-3"><a class="text-white" href="/audi"><i class="fa fa-th"></i><span
            class="d-block fs_11 mt-1">Auditorium</span></a></span>
      <span class="d-inline-block px-3"><a class="text-white" href="/exibitors"><i class="fa fa-university"></i><span
            class="d-block fs_11 mt-1">Exhibitors</span></a></span>
      <span class="d-inline-block px-3 te"><a class="text-white" href="/knowledgecentre"><i class="fa fa-book"></i><span
            class="d-block fs_11 mt-1">Knowledge Centre</span></a></span>
        
      <span class="d-inline-block px-3" onclick="RedirectToLink(5)"><a class="text-white" href="javascript:void(0);"><i
            class="fa fa-users"></i><span class="d-block fs_11 mt-1">Support
            Centre</span></a></span>


      <span class="d-inline-block px-3"><a class="text-white typeform-share button"
          href="https://form.typeform.com/to/dWoJRpyo?Email=malayshodhan@gmail.com" data-mode="popup"><i
            class="fa fa-pencil"></i><span class="d-block fs_11 mt-1">Event Feedback</span></a></span>
    </div>
  </div> -->

</body>

</html>