{% extends 'eventlobby/base.html' %}
{% load static %}

{% block title %}Virtual Event Platform{% endblock %}


{% block topnav %}

<style>
    * {
        margin: 0;
        padding: 0;
    }

    .navbarBg {
        background: rgba(0, 0, 0, 0.6);
    }

    .bgDarkTransparent {
        background: rgba(0, 0, 0, 0.8);

    }

    .w-100 {
        width: 100% !important;
    }

    img {
        max-width: 100%;
        height: inherit;
        width: 100%;
    }

    img[usemap] {
        border: none;
        max-width: 100%;
        width: 100%;
    }
</style>
<header>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top navbarBg">
        <a class="navbar-brand text-white" href="#"><img class="nav-logo" src="{% static 'imgs/karnavati_logo_white.png' %}" alt=""></a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Hi, {{ user.username }}
                </a>
                <div class="dropdown-menu navbarBg" aria-labelledby="navbarDropdown">
                    <!-- <a class="dropdown-item text-white" href=""><i
                            class="fa fa-user mr-2"></i>Profile</a> -->
                    <!-- <div class="dropdown-divider"></div> -->
                    <a class="dropdown-item text-white" href="/logout"><i class="fa fa-power-off mr-2"></i>Logout</a>
                </div>
            </li>
        </ul>
    </nav>
</header>

{% endblock %}


{% block content %}
<main>
    <div class="w-100 image">
        <img class="map" src="{% static 'imgs/exibitioni.jpg' %}" usemap="#image-map" usemap="#Map" width="3840" height="2160">
        <map name="image-map">
            <area target="" alt="GetMega" title="GetMega" href="getMega" coords="565,305,500,488,538,576,514,580,392,960,1260,966,1318,580,1162,583,1087,329" shape="poly">
            <area target="" alt="herody" title="herody" href="herody" coords="1518,577,1474,957,2346,960,2312,573,2190,577,2183,319,1661,312,1650,570" shape="poly">
            <area target="" alt="kartavya" title="kartavya" href="kartavya" coords="2532,580,2590,970,3455,970,3326,563,3353,488,3299,309,2753,322,2705,559" shape="poly">
            <area target="" alt="ultimatevirtualevent" title="ultimatevirtualevent" href="ultimatevirtualevent" coords="287,1078,198,1322,222,1397,63,1851,1108,1872,1199,1312,1036,1309,918,1092" shape="poly">
        </map>



</main>

{% endblock %}

{% block scripts %}

<script type="text/javascript" src="{% static 'js/jquery-3-5-1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/pooper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src='{% static "js/jquery.maphilight.min.js" %}'></script>
<script src="{% static 'js/rwdImageMap.js' %}"></script>


<script>
    $(document).ready(function (e) {
        $('img[usemap]').rwdImageMaps();
        $('area').on('focus', function (e) {
            e.preventDefault();
            $('.selection p').html($(this).attr('class'));
        });
    });

    $(function () {
        $('.map').maphilight();
    });
    // Modal pop onclick
    $(".modal-maparea").on("click", function (e) {
        e.preventDefault();
        $("#modelbutton").click();
    });
</script>
{% endblock %}