@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background: #c5ddeb;
    font: 14px/20px "Lato", Arial, sans-serif;
    padding: 40px 0;
    color: white;
    background-color: var(--bg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    @include font;
    /* background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/image.jpg"); */
    background-image: url("../imgs/helpdesk.jpeg");
    background-size: cover;
    background-repeat: none;
}

.container {
    margin: 0 auto;
    width: 100%;
    background: #444753;
    border-radius: 5px;
    /* new */
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.people-list {
    /* new */
    width: 20%;
    float: left;
    height: 100%;
}

.people-list .search {
    padding-top: 12.5%;
}

.people-list input {
    border-radius: 3px;
    border: none;
    padding: 14px;
    color: white;
    background: #6a6c75;
    width: 90%;
    font-size: 14px;
}

.people-list .fa-search {
    position: relative;
    left: -25px;
}

.people-list ul {
    /* padding: 20px; */
    height: 716px;
}

.people-list ul li {
    padding-bottom: 20px;
}

.people-list img {
    float: left;
}

.people-list .about {
    float: left;
    margin-top: 8px;
}

.people-list .about {
    padding-left: 8px;
}

.people-list .status {
    color: #92959e;
}

.list {
    list-style-type: none;
}

.chat {
    width: 80%;
    float: left;
    background: #f2f5f8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #434651;
    /* new */
    right: 0px;
    position: absolute;
    bottom: 0;
    top: 0;
    height: 100%;
}

.chat .chat-header {
    padding: 20px;
    border-bottom: 2px solid white;
}

.chat .chat-header img {
    float: left;
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px;
    margin-top: 6px;
}

.chat .chat-header .chat-with {
    font-weight: bold;
    font-size: 16px;
}

.chat .chat-header .chat-num-messages {
    color: #92959e;
}

.chat .chat-header .fa-star {
    float: right;
    color: #d8dadf;
    font-size: 20px;
    margin-top: 12px;
}

.chat .chat-history {
    padding: 0px 30px 0px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 75%;
}

.chat .chat-history .message-data {
    margin-bottom: 15px;
    margin-left: -10px;
}

.chat .chat-history .message-data-time {
    color: #a8aab1;
    padding-left: 3px;
}

.chat .chat-history .message {
    color: white;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 30px;
    width: 90%;
    max-width: 240px;
    position: relative;
}

.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #86bb71;
    border-width: 10px;
    margin-left: -10px;
}

.chat .chat-history .my-message {
    background: #86bb71;
    width:auto;
    max-width: 550px;
}

.chat .chat-history .other-message {
    background: #94c2ed;
    width:auto;
    max-width: 612px;
}

.chat .chat-history .other-message:after {
    border-bottom-color: #94c2ed;
    left: 93%;
}

.chat .chat-message {
    padding: 10px;
    position: relative;
    width: 100%;
    bottom: 0;
    margin-bottom: 12px;
}

.chat .chat-message textarea {
    width: 100%;
    border: none;
    padding: 10px 20px;
    font: 14px/22px "Lato", Arial, sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
    resize: none;
}

.chat .chat-message .fa-file-o,
.chat .chat-message .fa-file-image-o {
    font-size: 16px;
    color: gray;
    cursor: pointer;
}

.chat .chat-message button {
    float: right;
    color: #94c2ed;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: #f2f5f8;
}

.chat .chat-message button:hover {
    color: #75b1e8;
}

.online,
.offline,
.me {
    margin-right: 3px;
    font-size: 10px;
}

.online {
    color: #86bb71;
}

.offline {
    color: #e38968;
}

.me {
    color: #94c2ed;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.float-right {
    float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


/* Custom css */
.users__item {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 3px;
    overflow: hidden;
}

.users__item:hover {
    background-color: #413e3ef6;
}

.users__item_group .users__avatar {
    background-color: #4cceea;
}

.users__item_group .users__note {
    color: #4cceea;
}

.users__item_group .users__counter {
    background-color: #4cceea;
}

.avatar {
    position: relative;
    background-color: #4cceea;
}

.avatar__wrap {
    border-radius: 50%;
    text-decoration: none;
    display: inherit;
    color: #fff;
}

.circular_image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
}

.circular_image_new {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
}

.chat-users-list {
    overflow: scroll;
    overflow-x: hidden;
}

.chat-history-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

/* not in use currently */
.head__icon {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #d2d4da;
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
}


.groupAvatar {
    border-radius: 50%;
    position: relative;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    /* background-color: #b8bbc8; */
}

.group__avatar__wrap {
    border-radius: 50%;
    text-decoration: none;
    display: inherit;
    color: #fff;
}

.group__avatar {
    flex: 0 0 50px;
}

/* for logout button */
@import url(https://fonts.googleapis.com/css?family=Oswald:400);

.logoutNavigation {
    width: 100%;
    background-color: black;
}

.logoutImg {
    width: 25px;
    border-radius: 50px;
    float: left;
}

.logout {
    font-size: .8em;
    font-family: 'Oswald', sans-serif;
    position: relative;
    right: -18px;
    bottom: -4px;
    overflow: hidden;
    letter-spacing: 3px;
    opacity: 0;
    transition: opacity .45s;
    -webkit-transition: opacity .35s;
}

.logoutButton {
    text-decoration: none;
    float: right;
    padding: 12px;
    margin: 15px;
    color: white;
    width: 25px;
    background-color: black;
    transition: width .35s;
    -webkit-transition: width .35s;
    overflow: hidden;
    padding-right: 36px;
}

a:hover {
    width: 150px;
}

a:hover .logout {
    opacity: 0.9;
}

a {
    /* height: 50px; */
    text-decoration: none;
}

#chatcontainer {
    font-size: 92%;
}